body {background-color: #CCD6CC;} 

div.header
{
	width: 60%;
	min-width: 1000px;
	height: 2em;
	background-color: #3399FF;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#headerTitle
{
	color: white;
	font-size: 2em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	display: inline;
	padding-right: 1%;
}

#searchHolder
{
	border-radius: 25px;
	position: fixed;
	display: inline;
	background-color: black;
	min-width: 10%;
	min-height: 4.5%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.2%;
	padding-bottom: 0.2%;
}

#searchInput
{
	border-style: none;
	background-color: black;
	color: white;
	display: inline;
}

#searchButton
{
	border-style: none;
	background-color: black;
	color: white;
	display: inline;
}

#headerLinks
{
	position: relative;
	list-style-type: none;
	display: inline;
	font-size: 1.2em;
	left: 10%;
}

#hLink
{
	padding-right: 1%;
	color: white;
	text-decoration: none;
}

#headerLogin
{
	position: relative;
	left: 25%;
	list-style-type: none;
	display: inline;
	font-size: 1.2em;
}

#user
{
	border-style: none;
	background-color: red;
	font-size: .7em;
}